@font-face {
    font-family: 'PPMori';
    font-style: normal;
    src: url(./PPMori.eot);
    src: url(./PPMori.eot?#iefix) format('embedded-opentype'), url(./PPMori.otf) format('otf'),
        url(./PPMori.woff) format('woff'), url(./PPMori.ttf) format('truetype'),
        url(./PPMori.svg#PPMori) format('svg'), url(./PPMori.woff2) format('woff2');
}
