.term-title {
    text-align: center;
    padding: 1rem;
    color: #fff;
    font-weight: 500;
    font-size: 30px;
}

.terms-content p {
    padding-left: 1rem;
    line-height: 36px;
    color: #fff;
}
.terms-content h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: #fff;
}
