@font-face {
    font-family: 'PPMori';
    font-weight: 600;
    src: url(./PPMori.eot);
    src: url(./PPMori.otf) format('otf'), url(./PPMori.ttf) format('truetype'),
        url(./PPMori.svg#PPMori) format('svg'), url(./PPMori.woff) format('woff'),
        url(./PPMori.woff2) format('woff2');
}
